<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Circular!</title>
    
    <link rel = "stylesheet" href = "../public/rorschach.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap" rel="stylesheet">


</head>

<body>
    <div id = "top">
        <h2 id = "headline">CIRCULAR!</h2>
        <h6 id = "reasoning">Rorschach</h6>
    </div>

    <div>
        <div class = "pieceOfMind">
        
            <h6 id = "thoughts">Opinions</h6>
            
            <form action = "opinions/soapbox" method = "post">
                <input type = "text" name = "name" placeholder = "Name">
                <input type = "text" name = "comments" placeholder = "What do you see?"></input> <button type = "submit">Share</button>
            </form>
    
        </div>
    </div>

    <div class="fortresses">

        <img class="pov" src="../public/media/fortress-3.png" alt="The word, 'fortress', written in graffiti">
        <img class="pov2" src="../public/media/fortress-4.png" alt="The word, 'fortress', written in graffiti">
        <img class="pov3" src="../public/media/fortress-6.png" alt="The word, 'fortress', written in graffiti">
        
        <img class="will" src="../public/media/will-graffiti.png" alt="The word, 'will', written in graffiti">
        <img class="will2" src="../public/media/will-graffiti.png" alt="The word, 'will', written in graffiti">
        <img class="will3" src="../public/media/will-graffiti.png" alt="The word, 'will', written in graffiti">
        <img class="will4" src="../public/media/will-graffiti.png" alt="The word, 'will', written in graffiti">
        <img class="will5" src="../public/media/will-graffiti.png" alt="The word, 'will', written in graffiti">
        
    </div>


    <br>


    <div class = "pieceOfMind">
        
        <h6 id = "thoughts">Opinions</h6>
        
        <form action = "opinions/soapbox" method = "post">
            <input type = "text" name = "name" placeholder = "Name">
            <input type = "text" name = "comments" placeholder = "Stand atop your soapboax..."></input> <button type = "submit">Share</button>
        </form>

    </div>

    <div class = "adjust">
        <p class = "libre-barcode-39-regular" id = "voice"> <em><b>!!!EXTRA EXTRA!!!</em></b> READ, READ, <b>READ!!!</b> It's all very super serious to be/ 
        LOOK!! It's facsinating, this fascination, a dominant <em><b>force</b></em> to be ON TOP!!          
        </p>
    </div>

    <div class = "writings">
        
    </div>

    <div id = "hebrew">
        <img id = "first" src = "../public/media/hebrew.jpg" alt = "An image of the Hebrew symbol">
        <img id = "second" src = "../public/media/christianity.jpg" alt = "An image of the Christian cross">
        <img id = "third" src = "../public/media/crescent.jpg" alt = "An image of the representational symbol of Islam">
        <img id = "supreme" src = "../public/media/money-eye.jpg" alt = "An image of the eye of providence?">
    </div>


    <div id = "usa" >

        <img id = "merica" src = "../public/media/usa-usa.gif" alt = "An American flag blowing in the wind.">
        <img id = "shark" src = "../public/media/shark-2.gif" alt = "A shark swimming on the Internet">
    
    </div>

    <div id = "medicine">

        <div id = "doctor">
            
            <img id = "patient" src = "../public/media/turtle.gif" alt = "A turtle swim towards lettuce, or as a matter of fact, a yummy Dollar sign">
            <img id = "cash" src = "../public/media/dollar-sign.gif" alt = "Cash sign, dollar sign money. money baby">
            <img id = "hypno" src="../public/media/hypnoo-2.gif" alt="A pink and purple hypnotizing spinning circle">
        
        </div>
    </div>

    <div class = "future">

        <img id = "river" src = "../public/media/river.GIF" alt = "A flowing river">

    </div>


    <div>
        <div class = "cross">
            <video id = "mlk" width = "565" height = "565" controls = "false" autoplay loop muted>
                <source src="../public/media/My Movie 2.mp4" type="video/mp4">
            </video>
        

        
            <img id = "cross" src="../public/media/earth-spin.gif" alt="A processional cross from ca.1500">
        
            

            <video id = "shoot" width = "385" height = "425" controls = "false" autoplay loop muted>
                <source src="../public/media/Video.mp4" type="video/mp4">
            </video>

        </div>
    </div>

    <div class = "fabric"> 
        
        <img id = "optimistic" src = "../public/media/space-space.gif" alt = "An imageof space, where we live.">
    
    </div>


</body>
</html>