<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick!</title>

    <link rel="stylesheet" href="../public/signUp.css">

</head>
<body>
    
    <div class="information">

        <form class="gather" action="/create/newuser" method="POST"> 
            <input type="text" name="email" placeholder="email" required>
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button id="go">Submit!</button>
        </form>
    </div>

    <div>

        <img id="structureTwice" src="../public/media/structure!.png" alt="The word `Structure!!` written in graffiti">

    </div>

    <div id="circular">

        <p>Circular Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular!</p>

    </div>

    <div id="last">

        <p>Circular Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular! Circular!</p>
    </div>

</body>
</html>