<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start!</title>

    <link rel="stylesheet" href="/public/start.css">

</head>
<body class="foundation">
    
    <div class="cradle">
        <div class="start">
        
            <p>Within this application, one shall remain himself. Though I do not speak for any person due to the constant advancement of time and sentiments, I can whole heartedly say I also do not even speak for myself!</p>

        </div>

        <div class="buttons">

            <a href="/quick">
                <button class="signUp">Sign Up!</button>
            </a>

            <a href="/welcome">
                <button class="login" >Login!</button>
            </a>

        </div>

        <div class="flashingLights">
            <img src="../public/media/famous!.gif" alt="An image of flashing lights from cameras">
        </div>
    </div>    
    
</body>
</html>