.foundation {
    background-color: black;
}

.cradle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color:fuchsia;
}

.signUp {
    background-color: yellow;    
}
.signUp:hover {
    background-color:darkseagreen;
    border: dotted cornsilk;
}

.login {
    background-color: lightblue;
    border: dotted orange;
}

.login:hover {
    transform: translateY(-3px);
}

#brick {
    height: 100px;
    width: 100px;
}