html, body {
    border: dotted deepskyblue 2px;
    background-color: rgba(214, 208, 200, 0.989);
}

h3 {
    color:darkslategray;
}

/* .information {
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media (min-width: 250px) and (max-width: 1280px) {
    #structureOne {
        position: relative;
    }

    .building {
        top: 100px;
    }
}

#begin {
    display: flex;
    justify-content: center;
}

#gather {
    display: flex;
    justify-content: center;
    align-items: center;
}

#go {
    background-color: green;
    color: aliceblue;
}

#go:hover {
    transform: translateY(-3px);
}

#structureTwice {
    height: 100px;
    width: 315px;
    position: relative;
    left: 91px; bottom: 54px;
}

#circular {
    align-self: flex-start;
}

p {
    writing-mode: vertical-rl;
    text-orientation: vertical;
}

#circular2 {
    align-self: flex-end;
}

#circular3 {
    align-self: flex-end;
    align-items: center;
}


