.foundation {
    background-color: black;
}

@media (min-device-width: 1020px) and (max-device-width: 2778px) {
    .foundation {
        display: flex;
        justify-content: center;
    }
}

@media (min-device-height: 1020px) and (max-device-height: 1284px) {
    .foundation {
        display: flex;
        justify-content: center;
    }
}

.cradle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#intro {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color:fuchsia;
}

.signUp {
    background-color: yellow;    
}
.signUp:hover {
    background-color:darkseagreen;
    border: dotted cornsilk;
    color: rgb(120, 47, 5);
}

.buttons {
    display: flex;
    justify-content: center;
}

.login {
    background-color: lightblue;
    border: dotted orange;
}

.login:hover {
    transform: translateY(-3px);
    background-color: linen;
    color: rgb(26, 101, 89);
}

#brick {
    height: 100px;
    width: 100px;
}

@media (min-width: 320px) and (max-width: 600px) {
    .fame {
        height: 75px;
        width: 130px;
    }

    .buttons {
        display: grid;

    }
}

@media (min-device-width: 390px) and (max-device-width: 844px) {
    .buttons {
        display: grid;
    }

    .fame {
        width: 100%;
    }
}

@media (min-width: 640px) {
    .buttons {
        display: grid;
    }

    .fame {
        width: 100%;
    }
}