.spinal {
    background-color:darkmagenta;
}

#enter {
    border: 1rem ridge silver;
    display: flex;
    justify-content: center;
}

#submit {
    background-color: green;
    color: aliceblue;
}

#submit:hover {
    transform: translateY(-3px);
}

#movement {
    display: flex;
    justify-content: center;
}

#fashion {
    height: 125px;
    width: 100px;
}

p {
    color: lavenderblush;

}

@media (min-width: 50px) and (max-width: 1280px) {
    #book {
        width: 100%;
    }
}

h3 {
    color: rgb(0, 0, 1);
}